<div class="coach-box">
  <h1>Stupid Coaching</h1>
  <blockquote>
    <p><%= @question.capitalize %></p>
    <p><strong>— You</strong></p>
  </blockquote>

  <blockquote id="coach">
    <p><%= @answer %></p>
    <p><strong>— Stupid coach</strong></p>
  </blockquote>

  <%= link_to "Ask a new question", ask_path%>

</div>