<div class="container">
  <h1>Ask a question</h1>
  <form action="/answer" method="GET">
    <input class="question-input" type="text" name="question">
    <input type="submit" value="Ask!">
 </form>
</div>